<li class="aspect-[3/4] h-[50vh] snap-center" id="{{ id }}">
  <div class="w-full h-full">
    <a class="group relative flex h-full w-full flex-col items-center justify-center" href="{{ collection.url }}">
      <div class="relative flex aspect-square h-full w-full flex-col items-center justify-end">
        {{
          collection.image
          | image_url: height: 800, crop: 'center'
          | image_tag:
            class: 'absolute h-full w-full rounded-md bg-cover bg-center object-cover object-center',
            preload: true,
            lazy: true,
            alt: 'Collection image'
        }}
        <div class="mb-8 flex w-[80%] items-center justify-between">
          <div class="relative text-xl md:text-2xl text-white group transition duration-300">
            {{ collection.title }}
            <span
              class="block h-0.5 max-w-0 bg-white transition-all duration-500 group-hover:max-w-full"
            ></span>
          </div>
          <button
            aria-label="icon"
            class="flex items-center justify-center overflow-hidden p-4 text-sm font-bold duration-200 ease-out disabled:opacity-20 disabled:bg-opacity-100 pointer-events-none relative h-[3.5rem] rounded-md bg-white text-offBlack hover:opacity-50"
          >
            <i data-lucide="move-up-right"></i>
          </button>
        </div>
      </div>
    </a>
  </div>
</li>
