<div
  style="background: {{ section.settings.background_color }}"
  class="flex h-10 items-center justify-center px-4 text-sm font-medium text-black sm:px-6 lg:px-8"
>
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'text' -%}
          {%- if block.settings.text != blank -%}
            <p>
              {{ block.settings.text }}
            </p>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "marquee",
          "label": "Marquee"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Autoplay speed",
      "unit": "sec",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 5
    },
    {
      "type": "paragraph",
      "content": "Note: the transparent header setting will hide announcements placed beneath a transparent header.  For transparent header announcements, use the toolbar block of the header section."
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Target page"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "Limit to specific page"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "Targeted page"
        },
        {
          "type": "header",
          "content": "Target referrer"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "Limit to specific referrer path"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "Targeted referrer"
        },
        {
          "type": "header",
          "content": "Target device"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "Limit to desktop or mobile"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "Device ",
          "default": "mobile",
          "options": [
            {
              "value": "mobile",
              "label": "Only show on mobile"
            },
            {
              "value": "desktop",
              "label": "Only show on desktop"
            }
          ]
        }
      ]
    },
    {
      "type": "message",
      "name": "Free shipping message",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "message",
          "label": "Message",
          "info": "Use ||amount|| to display progress towards free shipping.",
          "default": "Spend ||amount|| more for free shipping"
        },
        {
          "type": "paragraph",
          "content": "Navigate to Theme settings > Cart > Free shipping message to set the amount."
        },
        {
          "type": "header",
          "content": "Target page"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "Limit to specific page"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "Targeted page"
        },
        {
          "type": "header",
          "content": "Target referrer"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "Limit to specific referrer path"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "Targeted referrer"
        },
        {
          "type": "header",
          "content": "Target device"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "Limit to desktop or mobile"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "Device ",
          "default": "mobile",
          "options": [
            {
              "value": "mobile",
              "label": "Only show on mobile"
            },
            {
              "value": "desktop",
              "label": "Only show on desktop"
            }
          ]
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
