{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8 mt-4">
  <div class="-mx-px grid grid-cols-2 border-l border-t border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4">
    {%- for product in collection.products limit: product_limit -%}
      {% render 'product-grid-item', product: product %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Products per row (desktop)",
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "min": 1,
      "max": 8,
      "step": 1,
      "label": "Number of rows (desktop)",
      "default": 1
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Product grid",
      "category": "Collection"
    }
  ]
}
{% endschema %}
